/* Заголовок на початку тесту */
h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Основні стилі для body та контейнера */
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("https://avatanplus.com/files/resources/original/5702d258cba5b153e305ab02.jpg"); 
    color: rgba(27, 38, 194, 0.363), 0.925);
}

.container {
    text-align: center;
}

/* Стиль для quiz контейнера */
.quiz-container {
    display: none;
}

/* Стиль для кнопки */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Стиль для варіантів відповідей */
.answer {
    padding: 10px;
    margin: 10px 0;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;  /* Плавний перехід для всіх властивостей */
}

/* Підсвічування при натисканні */
.correct-answer {
    background-color: #4CAF50;
    color: white;
    animation: glow 1s ease-out;
}

/* Підсвічування неправильної відповіді */
.incorrect-answer {
    background-color: #f44336;
    color: white;
    animation: shake 0.5s ease;
}

/* Анімація для підсвічування правильної відповіді */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 30px rgba(0, 255, 0, 1);
    }
}

/* Анімація для неправильного варіанту (тряска) */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


h3 {
    margin-top: 20px;
}
.h1 {
    color: whitesmoke
}

#stats {
    color: white;
}
